AlgoTrading/__pycache__/
AlgoTrading/historical_data/
AlgoTrading/.idea/
AlgoTrading/assets/credentials.txt
AlgoTrading/assets/telegram_config.cfg
AlgoTrading/AlgoTrading.iml
AlgoTrading/backtesting/histograms
